@import "./Utils/variables.scss";
@import "./Base/base.scss";
@import "./Layout/header.scss";
@import "./Layout/nav.scss";
@import "./Layout/imageSlider.scss";
@import "./Layout/footer.scss";
@import "./Pages/home.scss";
@import "./Pages/contact.scss";
@import "./Pages/news.scss";
@import "./Pages/leagues.scss";
