footer {
    background-color: $secondary-bg;
}

.footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 60px;

}

.logo {
    min-width: 138px;
    max-width: 138px;
    font-family: 'Shrikhand', serif;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

.Footer-resource-links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;

}

.Footer-links {
    width: auto;
    display: inline-block;
}

.Footer-text_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;

    img {
        height: 13px;
    }
}




/******* Desktop layout *******/
@media screen and (max-width: 769px) {

    .footer-content {
        padding: 22px 25px;
        display: grid;
        gap: 16px;

        .Footer-resource-links {
            display: grid;
            align-items: center;
            gap: 7px;
        }

    }
}