footer {
    background-color: $secondary-bg;

    .footer-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        padding: 30px 20px;
        gap: 60px;

    }

    .logoSocials {
        display: flex;
        flex-direction: column;
        max-width: 160px;
        min-width: 160px;
        gap: 5px;

        .socialLinks {
            display: flex;
            flex-direction: row;

            .media {
                max-width: 40px;
                min-width: 40px;
                max-height: 40px;
                min-height: 40px;
            }
        }
    }

    .logo {
        margin: auto;
        min-width: 138px;
        max-width: 138px;
        padding: 0px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }

    a {
        text-decoration: none;
        color: $headerFooterColor;
    }

    .Footer-resource-links {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-bottom: 10px;
        gap: 20px;

    }

    .Footer-links {
        width: auto;
        display: inline-block;
    }

    .Footer-text_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 11px;
    }
}


/******* Mobile layout *******/
@media screen and (max-width: 769px) {

    footer {
        .footer-content {
            padding: 22px 25px;
            display: grid;
            gap: 16px;

            .Footer-resource-links {
                display: grid;
                align-items: center;
                gap: 7px;
            }

        }
    }
}