@mixin navbuttons {
    float: left;
    color: $headerFooterColor;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav {
    overflow: hidden;

    .logo {
        @include navbuttons;
    }

    .navActive {
        background-color: $primary-bg;
        color: $headerFooterColor;
    }

    .navlink {
        @include navbuttons;
        display: block;
        font-size: 18px;
    }

    .icon {
        @include navbuttons;
        display: none;
        font-size: 15px;
    }

    .dropdown {
        float: left;
        overflow: hidden;

        .dropbtn {
            border: none;
            outline: none;
            background-color: inherit;
            font-family: inherit;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;

        }

        &-content a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        button i {
            pointer-events: none;
            display: none;
        }

    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .mobileBar1,
    .mobileBar2,
    .mobileBar3 {
        width: 21px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: .4s;
    }

    .change.mobileBar1 {
        transform: translate(0, 6px) rotate(-45deg);
    }

    .change.mobileBar2 {
        opacity: 0;
    }

    .change.mobileBar3 {
        transform: translate(0, -6px) rotate(45deg);
    }

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 49px;
    background-color: $navDropDown-bg;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.show {
    display: block !important;
}


.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: $tertiary-bg;
}

.dropdown-content a {
    color: $navDropDownColor;

    &:hover {
        background-color: #ddd;
        color: $navDropDownColor;
    }
}

@media screen and (max-width: 600px) {

    .topnav a:not(:nth-child(1)),
    .topnav .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}




/******* Mobile layout *******/
@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;

        .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        a {
            float: none;
            display: block;
            text-align: left;

        }

        .dropdown {
            float: none;
        }

        .dropbtn {
            display: flex;
            align-items: center;
            width: 100%;
            text-align: left;
        }

        .dropdown-content {
            position: inherit;
            top: 0;
        }
    }

}