@mixin navbuttons {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav {
    overflow: hidden;

    .logo {
        @include navbuttons;
    }

    .navActive {
        background-color: $primary-bg;
    }

    .navlink {
        @include navbuttons;
        display: block;
        font-size: 18px;
    }

    .icon {
        @include navbuttons;
        display: none;
        font-size: 15px;
    }

    .dropdown {
        float: left;
        overflow: hidden;

        .dropbtn {
            font-size: 17px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            cursor: pointer;
        }

        &-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .mobileBar1,
    .mobileBar2,
    .mobileBar3 {
        width: 21px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: .4s;
    }

    .change.mobileBar1 {
        transform: translate(0, 6px) rotate(-45deg);
    }
    .change.mobileBar2 {
        opacity: 0;
    }
    .change.mobileBar3 {
        transform: translate(0, -6px) rotate(45deg);
    }

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.show {
    display: block;
}


.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: $tertiary-bg;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) {

    .topnav a:not(:nth-child(1)),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}


/******* Desktop layout *******/
@media screen and (min-width: 600px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
}


/******* Mobile layout *******/
@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;

        .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        a {
            float: none;
            display: block;
            text-align: left;

        }

        .dropdown {
            float: none;
        }

        .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }

        .dropdown-content {
            position: relative;
        }
    }

}