body {
    margin: 0;
    font-family: Arial;
}

.minContent {
    min-width: 360px;
}

header, footer {
    .maxContent {
        max-width: 1920px;
        margin: auto;
    }
}

main {
    .maxContent {
        max-width: 1440px;
        margin: auto;
    }
}

p {
    margin: 0;
}