.homePicture {
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.newsSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px 4%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .25);

    .newsImg {
        width: 100%;
        height: 336px;
        object-fit: cover;
    }

    .currentNews {
        padding: 15px 20px;
        grid-column: 1/4;
        border-top: 0px;

        h2 {
            margin-top: 0;
        }
    }
}


.newsGroup {
    article:nth-of-type(1) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background: $primary-bg;
        color: white;
    }
}


.newsArticle {
    padding: 10px;
    background: #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a {
        text-decoration: none;
    }

    .newsLinks {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: inherit;
    }

    &Img {
        width: 55px;
        height: auto;
        object-fit: cover;
    }

    .newsContent {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .newsTitle {
        display: block;
        margin: 4px 0;
        font-size: 16px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .newsDate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1440px) {
    .homePicture {
        height: 19vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

/*****Mobile layout******/
@media screen and (max-width: 769px) {
    .newsSection {
        display: flex;
        flex-direction: column;
        margin: 3vw 3vw;

        .newsGroup {
            height: auto;
        }

        .newsImg {
            height: auto;

        }
    }

    .homePicture {
        height: 22vw;
    }

}